.container {
    padding-left: 15%;
    padding-top: 2%;
    background-color: #f9f9f9;
    
    
}
.container__active{
    padding-left: 5%;
    

}
@media (max-width: 850px){
    
    .container{
        padding-left: 1%;
    }
    
}
@media (max-width: 500px){
    
    .container{
        padding-top: 3%;
    }
    
}